apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-alpine
  namespace: default
  labels:
    app: nginx-alpine
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
      tag: alpine
  template:
    metadata:
      labels:
        app: nginx
        tag: alpine
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80